header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.nav{
  border: 1px solid rgb(192, 188, 188);
  border-radius: 20px;
  height: 8vh;
}
ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-left: -2rem;
}
header img{
  width: 20%;
  height: 10vh;
}
ul li{
  font-size: 18px;
  font-weight: bold;
}
li a{
  text-decoration: none;
  color: rgb(59, 59, 59);
}
a img{
  width: 100%;
}
.logoutBtn{
  background-color: chocolate;
  padding: 8px;
  width: 90px;
  border: none;
  border-radius: 5px;
  color: #ddd;
  font-size: 16px;
}

.postDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  height: 100%;
}
.postDetails h1 {
  font-size: 3rem;
  color: chocolate;
}
.postDetails p {
  width: 50%;
  text-align: center;
}
